.idea/
.vscode/

__pycache__/
.hypothesis/
.pytest_cache/
.mypy_cache/
.ruff_cache/

target/
/Cargo.lock

.venv/

py-polars/docs/build/
py-polars/docs/source/reference/**/api/
py-polars/polars/*.abi3.so

examples/datasets/
